<h1>New Wishlists</h1>

<div ng-show="error">
	<p>Please <a ui-sref="login">login</a> or <a ui-sref="register">create an account</a> to make a wishlist</p>
</div>

<form>
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" class="form-control" ng-model="wishlist.name">
	</div>
	<div class="form-group">
		<label for="description"></label>
		<textarea name="description" rows="10" ng-model="wishlist.description"></textarea>
	</div>
	<div class="form-group">
		<a ng-click="createWishlist(wishlist)" type="submit" class="btn btn-default">Create</a>
	</div>
</form>