<form class="form-login">

    <div class="form-log-in-with-email">

        <div class="form-white-background">

            <div class="form-title-row">
                <h1>Log in</h1>
            </div>

            <div class="form-row">
                <label>
                    <span>Email</span>
                    <input type="email" name="email" ng-model="user.email">
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Password</span>
                    <input type="password" name="password" ng-model="user.password">
                </label>
            </div>

            <div class="form-row">
                <button type="submit" ng-click="loginUser(user)">Log in</button>
            </div>

        </div>

        <a href="#" class="form-forgotten-password">Forgotten password &middot;</a>
        <a href="#" class="form-create-an-account">Create an account &rarr;</a>

    </div>
<!-- 
    <div class="form-sign-in-with-social">

        <div class="form-row form-title-row">
            <span class="form-title">Sign in with</span>
        </div>

        <a href="#" class="form-google-button">Google</a>
        <a href="#" class="form-facebook-button">Facebook</a>
        <a href="#" class="form-twitter-button">Twitter</a>

    </div>
 -->
</form>
