<form class="form-login" >

    <div class="form-log-in-with-email">

        <div class="form-white-background">

            <div class="form-title-row">
                <h1>Sign up</h1>
            </div>
            
            <div class="form-row">
                <label>
                    <span>First Name</span>
                    <input type="text" name="first_name" ng-model="user.firstName">
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Last Name</span>
                    <input type="text" name="last_name" ng-model="user.lastName">
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Email</span>
                    <input type="email" name="email" ng-model="user.email">
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Password</span>
                    <input type="password" name="password" ng-model="user.password">
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Confirm Password</span>
                    <input type="password" name="confirmation" ng-model="user.confirmation">
                </label>
            </div>

            <div class="form-row">
                <button type="submit" ng-click="registerUser(user)">Register</button>
            </div>

        </div>

        <a ui-sref="login" class="form-forgotten-password">Already have an account? &middot;</a>
        
    </div>
<!-- 
    <div class="form-sign-in-with-social">

        <div class="form-row form-title-row">
            <span class="form-title">Sign in with</span>
        </div>

        <a href="#" class="form-google-button">Google</a>
        <a href="#" class="form-facebook-button">Facebook</a>
        <a href="#" class="form-twitter-button">Twitter</a>

    </div>
 -->
</form>
